<%- errorMessagesFor(schedule) %>
<div class="control-group">
   <%- form.label("uid", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("uid") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("offerings", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("offerings") %>
   </div>
</div>
